$grid--gutter: 20px;
$grid--column: 60px;
$grid--unit: ($grid--gutter + $grid--column);

$column--color: #ff7bac;

$vertical--padding: 12px;
$general--padding: 20px;

$column--count: 15;

$inline--color: #eee;
