$grid--gutter: 20px;
$grid--column: 60px;
$grid--unit: ($grid--gutter + $grid--column);

$column--color: rgb(233, 57, 86);

$light: 300;
$medium: 500;
$bold: 700;

$vertical--padding: 12px;
$general--padding: 20px;

$column--count: 15;
