//sass --update --watch scss/style.scss:css/style.css

@use 'reset' as *;
@use 'fonts' as *;
@use 'variables' as *;

body {
  margin: 30px;
}

header,
h1 {
  text-align: center;
  @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../fonts/Pacifico/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
}

footer {
  text-align: center;
}

#icons {
  position: relative;
  text-align: center;
}
